*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
header{
    padding: 1rem;
    position: fixed;
    width: 100%;
    height: 4rem;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5)
}

.logo, .logo-icon, .site-name,.link{
    display: inline-block;
}
.logo{
    line-height: 2rem;
}

.logo-icon{
    height: 2rem;
    vertical-align:top;
}

.links{
    position: absolute;
    right: 1.5rem;
    top: 1rem;
}

.links .my-account{
    background-color: gray;
    border-radius: 0.3rem;
}

.link{
    font-size: 1.3rem;
    font-weight: 300;
    padding:0.3rem;
}
.link a{
    color:white;
}

.site-name{
    font-size: 1.5rem;
    color: white;
    font-weight:400;
    
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
    background-image: url(https://dss1.bdstatic.com/kvoZeXSm1A5BphGlnYG/skin/824.jpg?2);
}
.banner p{
    font-size: 3rem;
    color: white;
    transition: transform 1s;
}
.banner p:hover{
    transform:scale(1.1)
}
